
<div class="form-container mat-elevation-z5">
    
    <h1>Inicio de Sesión</h1>

    <form [formGroup] = "loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        
        <mat-form-field appearance="outline">
            <mat-label>Correo </mat-label>
            <input formControlName="email"  matInput />
            <mat-error *ngIf="loginForm.invalid">{{errorEmail()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input formControlName="pass" type="password" matInput />
            <mat-error *ngIf="loginForm.invalid">{{errorPass()}}</mat-error>
        </mat-form-field>

        <div class="center">
            <button mat-raised-button color= "primary" type= "submit">
                Iniciar Sesión
            </button>
        </div>

        <span  class="registro">No tienes cuenta? <a  class = "link" routerLink ="/register"> Registrarte </a></span>
        
    </form>
    
</div>

