<!--------------------------BOTON DE SALIR GENERAL------------------------>

<div class="buttonS">
    <button mat-raised-button routerLink="/calendar" color="warn" type="submit">
        Salir
    </button>
</div>
<!--------------------------HEADER DE LA CONFIGURACION------------------------>

<h1>Panel de configuración para Administradores</h1>
<mat-tab-group dynamicWeigth>

    <mat-tab label="Correos">
        <!--------------------------AGREGAR NUEVO DOMINIO------------------------>

        <div class="formulario-dominio">
            <form [formGroup]="dominioForm" (submit)="agregarDominio()">
                <table>
                    <tr>
                        <th>Dominio Nuevo</th>
                        
                        <th>
                           
                            <mat-form-field appearance="outline">
                                <mat-label>Dominio.com</mat-label>
                                <input  formControlName="domainV" matInput />
                                <mat-error *ngIf="dominioForm.invalid">{{errordomainV()}}</mat-error>

                            </mat-form-field>
                        </th>
                        <th>
                            <div class="center">
                                <button mat-raised-button color="primary"
                                    type="submit" [disabled]="dominioForm.invalid">
                                    Guardar Dominio
                                </button>
                            </div>
                        </th>
                    </tr>
                </table>
            </form>
        </div>
        <!--------------------------LISTA DE DOMINIOS VALIDOS------------------------>

        <div class="button">
            <table>
                <tr>
                    <th>Dominios Validos</th>
                </tr>
                <tr *ngFor="let dominio of dominiosInDb;let i =index">

                    <th>{{dominio.domain}}</th>


                    <th><button (click)="borrarDominio(i)" mat-raised-button color="warn" type="submit">
                            Eliminar
                        </button></th>

                </tr>

            </table>
        </div>


    </mat-tab>
    <!-------------------------------------------------USUARIOS---------------------------------------------------------------->
    <mat-tab label="Usuarios">
        <br>
        <!--------------------------CONFIGURACION DE USUARIOS------------------------>
        <form [formGroup]="editForm" (ngSubmit)="guardarCambios(editForm.value)">
            <table >
                <tr>
                    <th>Editar usuario</th>
                </tr>
                <tr>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Tipo de usuario</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
                <tr>
                    <th>
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="first_name">
                        </mat-form-field>
                    </th>

                    <th>
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="email">
                        </mat-form-field>
                    </th>

                    <th>
                        <mat-select [formGroup]="editForm" formControlName="id_user_type">
                            <mat-option *ngFor="let usersType of usersType" [value]="usersType.value">{{
                              usersType.viewValue
                            }}</mat-option>
                          </mat-select>
                    </th>

                    <th>
                        <mat-select [formGroup]="editForm" formControlName="is_active">
                            <mat-option *ngFor="let condition of condition" [value]="condition.value">{{
                                condition.viewValue
                            }}</mat-option>
                          </mat-select>
                    </th>
                    <th>
                        <div class="center">
                            <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid">
                                Guardar
                            </button>
                        </div>
                    </th>
                </tr>
            </table>
        </form>
        <br>
        <!--------------------------TABLA DE USUARIOS------------------------>


        <table>
            <tr>
                <th>Usuario</th>
                <th>Correo</th>
                <th>Tipo de Usuario</th>
                <th>Activo</th>
            </tr>
            <tr *ngFor="let user of usersInDb">

                <th>{{user.first_name}} {{user.last_name}}</th>
                <th>{{user.email}}</th>
                <th>{{user.id_user_type | mostraUserType}}</th>
                <th *ngIf="user.is_active==true" style="color: green;">{{user.is_active| mostrarIsActive}} </th>
                <th *ngIf="user.is_active==false" style="color: red;">{{user.is_active| mostrarIsActive}} </th>

                <th><button (click)="editarUsuario(user)" mat-raised-button color="primary" type="submit">
                        Editar
                    </button></th>

            </tr>

        </table>

    </mat-tab>
</mat-tab-group>