<h1>Panel de configuración para Administradores</h1>
<mat-tab-group dynamicWeigth>
    <mat-tab label="Correos">

        <label>Correos aceptados</label>
        <div>
            <mat-form-field class="example-chip-list" appearance="fill">
                <mat-label>Dominios Aceptados</mat-label>
                <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                        {{fruit.name}}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    <input placeholder="Nuevo Dominio..." [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
            </mat-form-field>
        </div>
        <div class="button">

            <button mat-raised-button routerLink="/calendar" color="primary" type="submit">
                Guardar
            </button>
        </div>


    </mat-tab>
    <mat-tab label="Usuarios">
        <br>


      
<table>
    <tr>
      <th>Usuario</th>
      <th>Correo</th>
      <th>Tipo de Usuario</th>
      <th>Activo</th>
    </tr> 
    <tr *ngFor="let user of usersInDb">
     
      <th>{{user.first_name}} {{user.last_name}}</th> 
      <th>{{user.email}}</th>
      <th>{{user.is_active}} </th>
      
      <th>  <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select >
          <mat-option *ngFor="let types of usersInDb ">{{user.is_active}}</mat-option>
        </mat-select>
      </mat-form-field></th>
      <th><button mat-raised-button  color="primary" type="submit">
        Editar
    </button></th>
      <th> <button mat-raised-button [disabled]="true" color="primary" type="submit">
        Guardar
    </button></th>
  </tr>
  
  </table>
    
        <div class="button">
            <button mat-raised-button routerLink="/calendar" color="primary" type="submit">
                Guardar
            </button>
        </div>
        
        
    </mat-tab>
</mat-tab-group>

<div class="button">
    <button mat-raised-button routerLink="/calendar" color="primary" type="submit">
        Salir
    </button>
</div>